
:root{
  --red: #FF847C;
  --green: #9BD7D1;
  /* --red: #FF847C; */
  /* --green: #99B898; */
}

body{
  
  /* background-color: #30384b; */
  background-color: #2A363B;
  min-height:400px;


  color: rgba(255,255,255,0.8);
}

main{

  padding-top: 250px;

  max-width: 300px;

  margin: 0 auto;

  text-align: center;
}

.wave__background{
  width: 1%;
  position:absolute;
  bottom:0;
  
}

waver{

  max-width: 1600px;
}

button{ 
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 69px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color:rgba(255,255,2555,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display:block;

  margin-bottom: 14px;

  margin-top: 20px;

  text-transform: capitalize;
}

